#myname {
	font-family:"Poiret One";
	font-size:80px;
	color:black;
	padding-top:5%;
	padding-left:9em;
    position:fixed;
}
#subh {
	font-family:Helvetica Neue;
	color:black;
    font-weight:lighter;
	text-decoration:bold;
	font-size:25px;
	padding-left:8em;
}
html { 
  background: url("background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#nav li {
    float: left;
    padding:6;
}

#nav a {
    display: block;
    text-decoration:none;
    color:black;
    padding:5;
    font-size:40px;
    font-family:"Poiret One";
    font-weight:lighter;
}
#tst:hover {
    color:red;
}
#nav {
    position:relative;
    padding-top:50%;
}
html { font-size: 62.5%; }
body { font-size: 1em;}

@media (max-width: 300px) {
    html { font-size: 70%; }
}

@media (min-width: 500px) {
    html { font-size: 80%; }
}

@media (min-width: 700px) {
    html { font-size: 120%; }
}

@media (min-width: 1200px) {
    html { font-size: 200%; }
}