#myname {
	font-family:Helvetica Neue;
	font-size:50px;
	color:white;
	font-weight:lighter;
	padding-top:1em;
	padding-left:4em;
}
#subh {
	font-family:Helvetica Neue;
	color:white;
    font-weight:lighter;
	text-decoration:bold;
	font-size:25px;
	padding-left:8em;
}
html { 
  background: url("background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#nav li {
    float: left;
    padding:5;
}

#nav a {
    display: block;
    padding: 8px;
    text-decoration:none;
    color:white;
    padding-top:10em;
    font-size:40px;
    font-family:Helvetica Neue;
    font-weight:lighter;
}
#tst:hover {
    color:red;
}